.content {
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .nav-tabs-custom {
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
  }
  .nav-tabs-custom > .tab-content {
    background: #fff;
    padding: 10px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .box.box-primary {
    border-top-color: #2196f3;
  }
  .box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }
  .box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
  }
  .box .box-header .box-title {
    font-size: 24px;
  }
  .box-header > .fa,
  .box-header > .glyphicon,
  .box-header > .ion,
  .box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
  }
  .profile-user-img {
    margin: 0 auto;
    width: 100px;
    padding: 3px;
    border: 3px solid #d2d6de;
  }
  .profile-username {
    font-size: 21px;
    margin-top: 5px;
  }
  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
  .img {
    border: 3px solid lightgrey;
  }
  .img1 {
    border: 2px solid lightgrey;
    padding: 2px;
  }
  userP {
    color: #333333;
  }
  .text {
    color: #777777;
  }
  .text1 {
    color: rgb(139, 138, 138);
    font-size: 12px;
  }
  .values {
    color: #2196f3;
  }
  .body {
    background-color: darkslategrey;
  }
  .icon {
    font-size: 14px;
  }
  .bg {
    background-color: white;
  }
  .alinks {
    color: #2196f3;
    text-decoration: none;
  }
  .linkactive:hover {
    border-top: 3px solid #2196f3;
  }
  .img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .user-block .username {
    font-size: 16px;
    font-weight: 600;
  }
  .user-block .username,
  .user-block .description,
  .user-block .comment {
    display: block;
    margin-left: 50px;
  }
  .user-block {
    margin-bottom: 15px;
  }
  .user-block .description {
    color: #999;
    font-size: 13px;
  }
  .user-block img {
    width: 40px;
    height: 40px;
    float: left;
  }
  .img-bordered-sm {
    border: 2px solid #d2d6de;
    padding: 2px;
  }
  .img-circle {
    border-radius: 50%;
  }
  .list::after {
    content: ">";
    color: #777777;
    margin-left: 15px;
  }
  