.tu
{
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    
    color:white
}
.full
{
   background-color:rgb(133, 238, 91);
}
.ty
{
    color :white;
    font-size: 70px;
    font-family: 'Lobster', cursive;
}
.ff
{
    color :white;
    font-size: 90px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: -100px;
}
